@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');
html{
  scroll-behavior: smooth;
}
body{
  text-align: center !important;
  font-family: 'Roboto Mono', monospace !important;
  letter-spacing: 2px;
}
p{
  color: grey !important;
}
a, li, h2{
  font-family: 'Montserrat',sans-serif !important;
}
/* font size */
.xl-heading{
  font-size: 5.5rem;
}
.big-heading{
  font-size: 3.5rem;
}
.medium-heading{
  font-size: 2rem !important;
}
.small-heading{
  font-size: 1.5rem;
}
.xsmall-heading{
  font-size: 1.2rem;
}
.font-shadow{
  text-shadow: 8px 7px grey;
}
/* fonts weight */
.font-700{
  font-weight: 700;
}
.font-900{
  font-weight: 900;
}
/* colors */
.bg-black{
  background-color: #18191b;
}
.bg-white{
  background-color:#c7c8ca;
}
.font-white{
  color: #e3e4e8;
}
.font-black{
  color: #18191b;
}
.font-grey{
  color: grey !important;
}
/* line height */
.line-height{
  line-height: 2.5;
}
/* container padding */
.container-padding{
  padding: 5% 15%;
}
/* HEADING CONTENT */
#heading-section{
  text-align: left;
}
.col-lg-6{
  padding-bottom: 20px;
  padding-top: 20px;
}
.navbar{
  padding: 0px 0px 80px 0px !important;
}
.img-1{
  width: 150%;
  margin-left: 250px;
 
  
  
}
.nav-item{
  padding: 0px 18px 18px 18px;
}
.icon{
  padding: 0px 0px 15px 0px;
}
/* showcase */

.showcase-heading{
  letter-spacing: 2.5px;
}
.showcase-padding{
  padding: 20px 10px 20px 10px;
}
.showcase-img1{
  width: 40%;
  box-shadow: -10px 10px 5px grey;
}
.showcase-img2{
  width: 60%;
  margin-left: 100px;
  height: 425px;
  box-shadow: 10px 10px 5px grey;
}
/* cta */
.cta-button{
  margin-top: 30px;
}
/* footer */

.footer-icon{
  padding: 20px 20px 30px 0px;
}

/* PSUEDO CLASSES */
.navbar-brand:hover{
  color: white !important;
}
.nav-item:hover{
  color: white;
}
.description-tag1:hover{
  color: white !important;
}
.font-shadow:hover{
  color: grey !important;
  text-shadow: 8px 7px white;
}
.img-1:hover{
  box-shadow: 10px 10px 5px grey;
}
.icon:hover{
  color: grey;
}
.showcase-description:hover{
  color: white !important;
}
.showcase-description2:hover{
  color: black !important;
}
/* media queries */
@media (max-width:1020px){
  #heading-section{
    text-align: center;
  }
  .showcase-img2{
    margin-left: 0px
  }
  .img-1{
    margin-left: 0px;
  }
  .description-text{
    font-size: 1.8rem;
  }
  .nav-item{
    padding: 50px 0px 30px 0px;
  }
}
